<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-9 mt-5">
      <a href="<%= artwork_path(artwork) %>" class="hover-img-container">
      <% if artwork.photos.present? %>
        <%= cl_image_tag artwork.photos.first.key, class: 'center-img', :alt => "artwork" %>
      <% end %>
        <div class="overlay">
          <%= artwork.user.username %><br>
          <%= artwork.title %>
        </div>
      </a>
    </div>
  </div>

  <div id="comments_for_<%= artwork.id %>" class="row justify-content-center">
    <div class="col-sm-9">
      <div class="container d-flex p-0">
        <% if artwork.id == @created_comment&.artwork&.id %>
          <%= cl_image_tag current_user.photo.key, class: 'profile-comment mr-2 mt-2' %>
          <div class="text-comment mt-2">
            <em><%= @created_comment.content %></em>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-9 my-2">
      <div class="container d-flex p-0">
        <%= cl_image_tag current_user.photo.key, class: 'profile-comment mr-2' %>
        <%= simple_form_for [artwork, @comment], url: create_comments_index_path(artwork), method: :post, remote: true, data: { turbolinks: false }, html: { class: 'd-flex flex-column flex-grow-1', id: "new_comment_#{artwork.id}" } do |f| %>
          <%= f.input :content, input_html: { class: 'flex-grow-1, small-text', id: "comment_content_#{artwork.id}" }, placeholder: 'What would you like to say about this piece?', label: false %>
          <div class="button-wrapper-feedback">
            <%= f.submit value: "Send feedback", class: 'btn-send-feedback justify-content-center mb-3 send-feedback', 'data-disable-with' => "Send feedback" %>
            <a href="#" class="btn-shadow-feedback">Send feedback</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
