<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-9 mt-5">
      <a href="<%= artwork_path(artwork) %>">
        <%= cl_image_tag artwork.photos.first.key, class: 'center-img', :alt => "artwork" %>
      </a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-9 my-2">
      <div class="container d-flex p-0">
        <img class="profile-comment mr-2" src="<%= current_user.avatar%>" alt="profile picture">
        <%= simple_form_for [artwork, @comment], url: create_comments_index_path(artwork), method: :post, html: { class: 'd-flex flex-column flex-grow-1' } do |f| %>
          <%= f.input :content, input_html: { class: 'flex-grow-1, small-text' }, placeholder: 'What would you like to say about this piece?', label: false %>
          <%= f.submit value: "Send feedback", class: 'btn-send-feedback justify-content-center mb-3' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
