<% if policy(@artwork).show? %>
  <div class="container">
    <div class="col-m-12">
      <div class="d-flex mt-5">
        <% if @artwork.user.photo.key %>
          <%= cl_image_tag @artwork.user.photo.key, class: 'profile' %>
        <% end %>
        <div class="flex-grow-1 mx-3 top-description">
          <h1><%= @artwork.title %> </h1>
          <p>@<%= link_to @artwork.user.username, profile_path(@artwork.user) %></p>
        </div>
        <% unless @artwork.user.friends.include?(current_user) || current_user == @artwork.user %>
          <div class="button-wrapper-follow">
            <%= link_to 'Follow', user_friendships_path(@artwork.user), class: 'button-primary-shadow', method: :post %>
            <a href="#" class="btn-shadow-follow">Follow</a>
          </div>
        <% end %>
      </div>

    <div class="d-flex justify-content-center m-3">
      <p class="centered-content"><%= @artwork.description %></p>
    </div>

  <div class="d-flex justify-content-center">
    <% @artwork.photos.each do |image|%>
      <div class="image-wrapper">
        <%= cl_image_tag image.key, class: 'mt-3 mb-3', :alt => "artwork", id: "artwork", style: 'object-fit: cover; max-width: 1200px; max-height: 95vh' %>
        <% @marked_comments.each do |comment| %>
          <div
            data-controller="popover"
            data-popover-url-value="<%= card_path(comment.id) %>"
          >
            <a data-action="mouseover->popover#show mouseout->popover#hide">
              <i class="far fa-dot-circle marker artwork route-pin", style="top: <%= comment.y_offset%>px; left: <%=comment.x_offset%>px"></i>
            </a>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  
    <div class="container d-flex mt-3">
      <%= cl_image_tag current_user.photo.key, class: 'profile mr-3' %>
      <%= render  "comment_form" %>
    </div>

  <ul class="nav justify-content-center nav-tabs mt-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="general_comments-tab" data-bs-toggle="tab" data-bs-target="#general_comments" type="button" role="tab" aria-controls="general_comments" aria-selected="true">General comments</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="marked_comments-tab" data-bs-toggle="tab" data-bs-target="#marked_comments" type="button" role="tab" aria-controls="marked_comments" aria-selected="false">Marked comments</button>
    </li>
  </ul>

    <div class="tab-content mb-5" id="myTabContent">
      <div class="tab-pane fade show active" id="general_comments" role="tabpanel" aria-labelledby="general_comments-tab">
        <%= render  "general_comments" %>  
      </div>
      <div class="tab-pane fade" id="marked_comments" role="tabpanel" aria-labelledby="marked_comments-tab">
        <%= render  "marked_comments" %> 
      </div>
    </div>
  </div>
<% end %>
