<div class="container">
  <h1 class="text-center mt-3">Your Friends</h1>
  
  <% if current_user.friends.any? %>
    <h3>All of your friends</h3>
    <div class="d-flex mt-3 flex-wrap">
      <% current_user.friends.each do |friend| %>
        <div class="d-flex align-items-center m-1">
          <%= cl_image_tag friend.photo.key, class: 'profile' %>
          <%= link_to friend.username, user_path(friend.id), class: 'ml-3 link-dark'%>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if current_user.pending_invitations.any? %>
    <h3>Pending Friend Requests</h3>
    <% current_user.pending_invitations.each do |request| %>
      <div class="d-flex mt-3">
        <%= cl_image_tag User.find(request.receiver_id).photo.key, class: 'profile' %>
        <div class="container ml-3 top-description d-flex align-items-center">
          @<%= link_to User.find(request.receiver_id).username, user_path(request.receiver_id) %> <br>
        </div>
        <div class="container ml-3 top-description d-flex align-items-center">
          <%= link_to 'Accept', Waccept_friendship_path(request), class: 'button-primary', method: :patch %>
          <%= link_to 'Decline', decline_friendship_path(request), class: 'button-secondary', method: :patch %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>