<div class="container mt-5">
  <!-- Content here -->
  <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
    <div class="d-flex">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <img src="https://source.unsplash.com/EdAVNRvUVH4/150x150" class="img-thumbnail" alt="Profile Picture ">
      <% end %>
      <!-- <img src="https://source.unsplash.com/X6Uj51n5CE8/150x150" class="img-thumbnail" alt="Profile Picture"> -->
    </div>
    <div class="d-flex flex-column bd-highlight flex-grow-1 ml-2">
      <div><h1><i>@<%= @user.username %></i></h1></div>
      <div>👾 <%= @user.first_name %> <%= current_user.last_name %></div>
      <div>📍 <%= @user.location %></div>
    </div>

    <div>
      <%= link_to 'Follow', user_friendships_path(params[:id]), class: 'button-primary', method: :post %>
    </div>
  </div>

 <div class="d-flex justify-content-center">
    <p class="centered-content"><%= @user.bio %></p>
  </div>


<!--Grid row-->
    <div class="grid">
      <div class="gutter-size"></div>
      <% @user.public_artworks.each do |artwork| %>
      <% artwork.photos.each do |photo| %>
      <div class="grid-item">
      <%= cl_image_tag photo.key, class: "w-100" %>
      </div>
      <% end %>
      <% end %>
    </div>

</div>
